.heading{
    font-size:30px;
    width:100%;
    margin:0px;
    box-shadow: 7px 7px 7px black;
}
.copyright_footer{
    line-height:50px;
    color:white;
    background-color: grey;
    bottom:0;
    position:fixed;
    width:100%;
    font-size:20px;
    text-align:center;
}
canvas{
    border: 3px dashed black;
    border-radius: 10px;
}